* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background: aliceblue;
    color: burlywood;
}

.bookList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}
@media screen and (min-width: 768px) {
    .bookList {
        grid-template-columns: repeat(3, 1fr);
    }

}
.book {
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.book img {
    width: 100%;
    object-fit: cover;
}

.book h2 {
    margin-top: 1rem;
    font-size: 1rem;
}